@use "../../app/styles/functions" as fn;

.appPrezentationContainer {
    position: relative;
    width: 100%;
    min-height: 100svh;
    overflow: hidden;
    padding: fn.space(4) 0;
}

.appPrezentationTrack {
    display: flex;
    height: calc(100svh - #{fn.to-rem(64)});
    will-change: transform;
}

.appPrezentationSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
    flex: 0 0 100%;
    padding: fn.space(8) fn.space(4);
}