@use "../../app/styles/functions" as fn;

.brand {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: fn.space(2) fn.space(4);
    background-color: transparent;
    position: relative;
    background-color: var(--cto-bg-full);
}

.navbar_menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: fn.space(2);
    align-items: center;
    justify-content: center;
    list-style: none;
    position: absolute;
    transition: all 0.3s ease-in-out;
    background-color: var(--cto-bg-full);
    width: 100%;
    left:0;
}

.navbar_menuClose {
    top: -100%;
    opacity: 0;
}

.navbar_menuOpen{
    top: 100%;
    opacity: 1;
}

.navbar_menu_item{
    display: flex;
    gap: fn.space(2);
    padding: .5em 0;
}

.navbar_menu_link {
    display: block;
}

.ham {
    position: relative;
    width: fn.to-rem(50);
    height: fn.to-rem(50);
}

.ham_line {
    position: absolute;
    width: 90%;
    height: fn.to-rem(4);
    left: 50%;
    transform: translateX(-50%);
    border-radius: fn.to-rem(2);
    background-color: var(--text-default);
    transition: all 0.3s ease-in-out;

    &:nth-child(1) {
        top: 25%;
    }

    &:nth-child(2) {
        top: 50%;
    }

    &:nth-child(3) {
        top: 75%;
    }
}

.ham_line_open {
    &:nth-child(1) {
        top: 50%;
        transform: rotateZ(45deg);
    }

    &:nth-child(2) {
        top: 50%;
        opacity: 0;
    }

    &:nth-child(3) {
        top: 50%;
        transform: rotateZ(-45deg);
    }
}

@media screen and (min-width: fn.to-rem(568)) {
    .brand {
        font-size: fn.to-rem(32);
        font-weight: bold;
        color: var(--primary-65);
        display: inline;
    }
}