
@use "../../app/styles/functions" as fn;

.hero {
    display: flex;
    flex-wrap: wrap;
    animation: fadeInUp 1s ease-in-out;
    background:
        linear-gradient(240deg, var(--primary-35), var(--primary-75)),
        url("../../public/hey_memo.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.heading {
    font-size: fn.to-rem(40);
    font-weight: 500;
    color: var(--text-section);
    margin: 0;
    padding: fn.space(2);
    grid-column: 1;
}

.highlight {
    color: var(--primary-75);
    font-weight: 700;
}

.subheading {
    color: var(--text-section);
    font-weight: 400;
    margin: 0;
    padding: 0 fn.space(2) fn.space(2);
    grid-column: 1;
}

.ctoButtons {
    display: flex;
    flex-wrap: wrap;
    gap: fn.space(1);
    padding: 0 fn.space(2);
    grid-column: 1;
}

.ctoButton {
    display: inline-block;
    background-color: var(--primary-45);
    color: var(--text-section);
    padding: fn.space(1.5) fn.space(3);
    border-radius: fn.space(3);
    background-image: linear-gradient(45deg, var(--primary-35), var(--primary-55));
    background-size: 400% 400%;
    text-align: center;

    &:hover {
        animation: btnHoverGradinet 1s ease infinite;
    }
}

.ctoButtonOutline {
    display: inline-block;
    background-color: transparent;
    color: var(--text-section);
    padding: fn.space(1.5) fn.space(3);
    border-radius: fn.space(3);
    border: fn.to-rem(2) solid var(--text-section);

    &:hover {
        background-color: var(--text-section);
        color: var(--primary-45);
        border-color: transparent;
        animation: btnHoverGradinet 1s ease infinite;
    }
}

.heroImageWrapper {
    grid-column: 2;
    position: relative;
    width: 100%;
    height: fn.to-rem(400);
}

.heroImage {
    animation: fadeInUp 1s ease-in-out;
    animation-fill-mode: both;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(fn.to-rem(20));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btnHoverGradinet {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}