@import url("./normalize.css") layer(normalize);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@layer normalize;

:root {
  /* ===== LIGHT (default) ===== */

  /* Background */
  --bg: #FFFFFF;

  /* Text */
  --text-secondary: #6B7280;
  --text-accent: #374151;
  --text-section: #FFFFFF;
  --text-default: #475569;

  /* Primary */
  --primary-35: #3A09A9;
  --primary-55: #6426F3;
  --primary-65: #8756F6;
  --primary-75: #A986F8;
  --primary-85: #CBB7FB;

  /* Hover */
  --hover-accent: #8B5CF6;

  /* CTA */
  --cto-bg: #F1F5F980; /* 50% opacity */
  --cto-bg-full: #F1F5F9;
}

/* ===== DARK MODE (automatic) ===== */
@media (prefers-color-scheme: dark) {
  :root {
    /* Background */
    --bg: #1E293B;

    /* Text */
    --text-secondary: #94A3B8;
    --text-accent: #374151;
    --text-section: #F1F5F9;
    --text-default: #F1F5F9;

    /* Primary */
    --primary-35: #0F12A4;
    --primary-55: #2C30EC;
    --primary-65: #5B5EF0;
    --primary-75: #8A8CF5;
    --primary-85: #B9BAF9;

    /* Hover */
    --hover-accent: #A78BFA;

    /* CTA */
    --cto-bg: #47556980; /* 50% opacity */
    --cto-bg-full: #475569;
  }
}

body {
  background: var(--bg);
  color: var(--text-default);
  font-family: 'Roboto', sans-serif;
}


a{
  color: var(--text-default);
  text-decoration: none;
}

.page{
  padding: 1rem;
}