@import "tailwindcss";

:root {
  --primary: #0F9E99 ;
  --secondary: #EFEAE1 ;
  background-image: url("../public/bg.png");
  background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

